
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="CACHE">

<META HTTP-EQUIV="PRAGMA" CONTENT="CACHE">

<META HTTP-EQUIV="EXPIRES" CONTENT="0">

<title>EntregaWeb</title>

<STYLE>

/* CSS Document */

*{

margin:0px;

padding:0px;

border:0px;

text-decoration:none;

list-style:none;

}

body{

background:#ed2124 repeat;

}

#conteudo{

float:left;

border-left:1px solid white;

border-top:1px solid white;

margin-left:7px;

_margin-left:5px;

background:#fdf6c4 repeat;

}

.input{

font:10px verdana;

color:#014094;

border-bottom:1px solid #014094;

border-right:1px solid #014094;

}

#mensagem{

font:11px verdana;

color:Red;

padding:10px;

}

.erroInput{

font:bold 11px verdana;

color:#710202;

}

td{

font:bold 10px verdana;

color:#014094;

}

td a{

font:bold 9px verdana;

color:#014094;

text-decoration:underline;

}

td a:hover{

text-decoration:none;

}

.txtTD{

font:10px verdana;

color:#014094;

}

h2{

background:#fdea6a;

width:622px;

height:30px;

padding:10px 0 0 17px;

font:bold 14px verdana;

color:#014094;

border-bottom:1px solid white;

border-right:1px solid white;

}

h3{

background:url(img/header_cadastro.gif) no-repeat;

width:847px;

height:48px;

text-indent:-99999px;

overflow:hidden;

border-bottom:1px solid white;

}

h3 a{

display:block;

width:847px;

height:48px;

}

#mcofertas{

width:848px;

float:left;

}

p{

padding:10px;

font:11px verdana;

color:#014094;

}

.oferta{

width:159px;

float:left;

border-right:1px solid white;

border-bottom:1px solid white;

}

#ofertaDesc{

float:right;

width:158px;

float:left;

border-left:1px solid white;

border-right:1px solid white;

border-bottom:1px solid white;

}

#txtDescricao{

float:left;

width:479px;

}

.titDesc{

font:bold 10px verdana;

color:white;

background:#e6ae02;

height:15px;

border-top:1px solid white;

border-bottom:1px solid white;

padding:5px;

}

#escDes{

background:#e6ae02;

float:left;

padding:15px;

width:450px;

}

#escDes ul li{

display:inline;

background:#fdea6a;

padding:5px;

width:130px;

height:25px;

float:left;

font:12px verdana;

margin:0 10px 1px 0;

color:black;

}

.corD{

background:#fff08c;

}

.txtDesc{

padding:10px;

font:10px verdana;

color:black;

}

#tabDesc{

float:left;

margin:10px;

width:450px;

}

h4{

background:url(img//bg_h4.gif) repeat-x;

width:838px;

height:16px;

font:bold 10px verdana;

color:white;

padding:5px;

border-bottom:1px solid white;

}

.menuTamanho{

padding:5px 0 0 5px;

}

.menuTamanho ul li{

display:inline;

padding:0 1px;

}

.txtOferta{

padding:5px 5px;

font:9px verdana;

color:#014094;

margin:5px 0;

}

.qtdOferta{

float:left;

}

.qtdOferta ul li{

display:inline;

float:left;

padding:0 5px 0 0;

font:bold 9px verdana;

color:#014094;

}

.qtdOferta ul li select{

font:bold 9px verdana;

color:#014094;

}

.precoOferta{

font:10px verdana;

color:#ed2124;

padding:0 5px;

float:left;

}

.precoOferta strong{

font:bold 16px verdana;

color:#ed2124;

}

#rolagem{

padding:57px 0;

}

</STYLE>



</head>



<body>

<div id="conteudo">

<div id="mcofertas">





<!-- CONTEUDO -->

<!-- <div id="conteudo"> -->
<!-- <div id="mcofertas"> -->

<form name="form" method="POST" action="/envcadprod">
<table width="470"  border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">
<table width="470" border="0" cellspacing="0" cellpadding="0">

<tr>
<td>
<span class="texto_azul"><b>Cadastrar nova marmita
</td>
</tr>

<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td><span class="texto_azul">Nome:</span><!-- Nome -->
<input type="text" name="cad_nome" size="55" maxlength="100" class="input" value="">
</td>
</tr>

<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td><span class="texto_azul">Preço:</span><!-- Nome -->
<input type="text" name="cad_preco" size="55" maxlength="100" class="input" value="">
</td>
</tr>

<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td><span class="texto_azul">Principal:</span><!-- Sexo -->
<select name="principal" class="input">
<% principais=Principal.all %>
<% principais.each do |princ| %>
<option value="<%= princ.id %>"><%= princ.nome %></option>
<% end %>
</select></td>
</tr>

<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td>
<span class="texto_azul">Acompanhamentos:</span>
</td>
</tr>

<tr>
<td>&nbsp;</td>
</tr>

<% ingredientes=Ingrediente.all %>

<tr>
<td>
<% for i in 0..3 do %>
<select name="i<%=i%>" class="input">
<option value="0">Nenhum</option>
<% ingredientes.each do |item| %>
<option value="<%= item.nome %>"><%= item.nome %></option>
<% end %>
</select>
<% end %>
</td>

</tr>

<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td>
<% for i in 4..7 do %>
<select name="i<%=i%>" class="input">
<option value="0">Nenhum</option>
<% ingredientes.each do |item| %>
<option value="<%= item.nome %>"><%= item.nome %></option>
<% end %>
</select>
<% end %>
</td>

</tr>

<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td>
<% for i in 8..11 do %>
<select name="i<%=i%>" class="input">
<option value="0">Nenhum</option>
<% ingredientes.each do |item| %>
<option value="<%= item.nome %>"><%= item.nome %></option>
<% end %>
</select>
<% end %>
</td>

</tr>

<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td>
<% for i in 12..15 do %>
<select name="i<%=i%>" class="input">
<option value="0">Nenhum</option>
<% ingredientes.each do |item| %>
<option value="<%= item.nome %>"><%= item.nome %></option>
<% end %>
</select>
<% end %>
</td>

</tr>

<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td>
<input type="image" src="/img/btn_continuar.gif" width="65" height="22" border="0">
</td>
</tr>


<tr>
<td>&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>

<!--</div>-->
<!--<div>-->

</div>

</body>

</html>
