<% user=Usuario.first(:id=>@id) %>
<div id="conteudo">
<%= styled_flash %>
<div id="mcofertas">
<h4>Atualizar Cadastro</h4>
<form name="form" method="POST" action="/envpostcad/<%=@id.to_s%>" onSubmit="return valida_cadastro(this)">
<%if @user.mst==true %>
	<%if user.adm==false%>
<p><a class="input" href="/makeadm/<%=user.id%>" style="background:#EEF;">Tornar Administrador</a></p>
	<%else%>
<p><a class="input" href="/makeusu/<%=user.id%>" style="background:#EEF;">Tornar Usuário Comum</a></p>
	<%end%>
<p>CEPMST: <input type="text" class="input" name="cepmst" value="<%=user.cepmst%>"></p>
<%end%>


<!-- CONTEUDO -->

<!-- <div id="conteudo"> -->
<!-- <div id="mcofertas"> -->


 <input type="hidden" name="v_flag_multiplo_endereco" value="N">
<input type="hidden" name="v_nu_address" value=""> 
<table width="470"  border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">
<table width="470" border="0" cellspacing="0" cellpadding="0">

<tr>
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
<td>

</td>
<tr>
<td>
<span class="texto_azul"><b>Para preencher o formulário abaixo, por favor, NÃO utilize acentuação.
</td>
</tr>
<tr>
<td>
<span class="texto_azul"><b>* Campos obrigatórios
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td><span class="texto_azul">Nome*:</span><!-- Nome -->

<input type="text" name="p_nome" size="55" maxlength="100" class="input" value="<%=user.nome%>" onkeyup="trataNome(this);" onblur="trataNome(this);">
<span class="texto_azul">Sexo*:</span><!-- Sexo -->

<select name="p_sexo" class="input">
<option value="M"  <%=(user.sexo=="M" ? "SELECTED" : "")%> >Masculino</option>
<option value="F" <%=(user.sexo=="F" ? "SELECTED" : "")%> >Feminino</option>

<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<span class="texto_azul">CPF*:</span>
<input name="p_cpf" type="text" value="<%=user.cpf%>" class="input" size="14" maxlength="11" >&nbsp;&nbsp;
</td>
</tr>


</select>
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<span class="texto_azul"><b>Telefone fixo* : </b></span><!-- DDD e Telefone Fixo-->
<span class="texto_azul">DDD:</span>

<input name="p_ddd" value="<%=user.ddd%>" type="text"  class="input" size="4" maxlength="2"  onkeyup="mc_valnum(this)" >&nbsp;&nbsp;

<span class="texto_azul">Telefone:</span>
<input name="p_telefone" type="text" value="<%=user.fone%>" class="input" size="12" maxlength="9" onblur="mc_valphone2(this)" onkeyup="mc_valphone(this)"  onblur="trataNumero(this);">&nbsp;&nbsp;

<span class="texto_azul">Ramal:</span><!-- Ramal -->
<input name="p_ramal" type="text" value="<%=user.ramal%>" class="input" size="5" maxlength="5" onkeyup="mc_valnum(this)">
</td>
</tr>

  <tr><td height="30">&nbsp;</td>
</tr>
<tr>
<td valign=bottom>
<span class="texto_azul"><b>Caso saiba seu CEP, informe-o aqui: &nbsp;<b></span>
<input type="text" name="p_cep" size="10" maxlength="8" class="input" value="<%=user.cep%>">&nbsp;&nbsp;&nbsp;
<span id="p_faixa" class="texto_red"></span>
</td></tr>
<tr>
<td>&nbsp;
</td>
</tr>
<tr>
<td>
<span class="texto_azul"><b>Ou forneça o seu endereço:
</td>
</tr>
</table>
<table width="90%" border="0" cellspacing="0" cellpadding="2" align="center">
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<span class="texto_azul">Cidade*:</span>
</td>
<td><!-- onChange="altera(this)" -->

<input type="text" name="p_cidade" size="40" class="input" maxlength="50" onblur="trataNome(this);maiuscula(this)"
value="<%=user.cidade%>"   onkeyup="trataNome(this);">

</td><td width="20%" align=right> &nbsp &nbsp &nbsp<span class="texto_azul">Estado*:</span><select name="p_uf" class="input">
<option value="AC" <%=(user.estado=="AC" ? "SELECTED" : "")%> >AC
<option value="AL" <%=(user.estado=="AL" ? "SELECTED" : "")%> >AL
<option value="AP" <%=(user.estado=="AP" ? "SELECTED" : "")%> >AP
<option value="AM" <%=(user.estado=="AM" ? "SELECTED" : "")%> >AM
<option value="BA" <%=(user.estado=="BA" ? "SELECTED" : "")%> >BA
<option value="CE" <%=(user.estado=="CE" ? "SELECTED" : "")%> >CE
<option value="DF" <%=(user.estado=="DF" ? "SELECTED" : "")%> >DF
<option value="ES" <%=(user.estado=="ES" ? "SELECTED" : "")%> >ES
<option value="GO" <%=(user.estado=="GO" ? "SELECTED" : "")%> >GO
<option value="MA" <%=(user.estado=="MA" ? "SELECTED" : "")%> >MA
<option value="MT" <%=(user.estado=="MT" ? "SELECTED" : "")%> >MT
<option value="MS" <%=(user.estado=="MS" ? "SELECTED" : "")%> >MS
<option value="MG" <%=(user.estado=="MG" ? "SELECTED" : "")%> >MG
<option value="PA" <%=(user.estado=="PA" ? "SELECTED" : "")%> >PA
<option value="PB" <%=(user.estado=="PB" ? "SELECTED" : "")%> >PB
<option value="PR" <%=(user.estado=="PR" ? "SELECTED" : "")%> >PR
<option value="PE" <%=(user.estado=="PE" ? "SELECTED" : "")%> >PE
<option value="PI" <%=(user.estado=="PI" ? "SELECTED" : "")%> >PI
<option value="RJ" <%=(user.estado=="RJ" ? "SELECTED" : "")%> >RJ
<option value="RN" <%=(user.estado=="RN" ? "SELECTED" : "")%> >RN
<option value="RS" <%=(user.estado=="RS" ? "SELECTED" : "")%> >RS
<option value="RO" <%=(user.estado=="RO" ? "SELECTED" : "")%> >RO
<option value="RR" <%=(user.estado=="RR" ? "SELECTED" : "")%> >RR
<option value="SC" <%=(user.estado=="SC" ? "SELECTED" : "")%> >SC
<option value="SP" <%=(user.estado=="SP" ? "SELECTED" : "")%> >SP
<option value="SE" <%=(user.estado=="SE" ? "SELECTED" : "")%> >SE
<option value="TO" <%=(user.estado=="TO" ? "SELECTED" : "")%> >TO

</select></td></tr>
                <tr>
<td width="23%"><span class="texto_azul">Endereço*:</span></td>
<td width="57%">
<input type="text" name="p_logr_com_tipo" size="45" onblur="trataNome(this);maiuscula(this);" onChange="altera(this)" maxlength="50" class="input" value=" <%=user.endereco%> " onkeyup="trataNome(this);">
<!--/td></tr><tr><td-->
</td><td width="20%" align=right><span class="texto_azul">Nº *</span>

<script language="javascript">document.form.p_logr_com_tipo.focus();</script>
<input type="text" name="p_num" size="10" class="input"  maxlength="8" value="<%=user.numero%>" onkeyup="mc_valnum(this)">

</td>
</tr>

<tr>
<td width="23%"><span class="texto_azul">Complemento:</span></td>
<td width="57%">
<input type="text" name="p_complemento" value="<%=user.complemento%>" size="40" class="input" maxlength="100" onblur="maiuscula(this);trataNome(this);" value="" onkeyup="trataNome(this);"> 
</td>
</tr>
<tr><td>
&nbsp;
</td>
</tr>

 <!--    <tr>
<td colspan=2>
<table  border="0" width="100%">
<tr>
<td colspan=2>
<input name="p_predio_casa" type="radio" value="A"  onClick="f_trata_apartamento(this)"  checked ><span class="texto_azul"><b>Apartamento &nbsp;</b></span>
<input name="p_predio_casa" type="radio" value="C"  onClick="f_trata_casa(this)" ><span class="texto_azul" ><b>Casa &nbsp;</b></span>
</td>
<td> &nbsp; </td>
<td colspan=2>
<input name="p_com_res" type="radio" value="C"  onClick="f_trata_comercial(this)"  onkeyup="trataNome(this);">
<span class="texto_azul"><b>Comercial &nbsp;</b></span>
<input name="p_com_res" type="radio" value="R"  onClick="f_trata_residencial(this)"  checked  onkeyup="trataNome(this);"><span class="texto_azul"><b>Residencial &nbsp;</b></span>
</td>
</tr>


<tr>

<td>
<span class="texto_azul">Edificio</span><span class="texto_azul" id="msg_edificio" onkeyup="trataNome(this);"></span>
</td>

<td>
<span class="texto_azul">Apartamento</span><span class="texto_azul" id="msg_apartamento" onkeyup="trataNome(this);"></span>
</td>

<td>
<span class="texto_azul">Andar</span>
</td>
<td>
<span class="texto_azul">Bloco</span>
</td>
<td>
<span class="texto_azul">Condominio</span>
</td>


</tr>

<tr>
<td>
<input type="text" name="p_edificio" size="15" class="input" maxlength="50" onblur="trataLocal(this)" value="" onkeyup="trataNome(this);">
</td>
<td>
<input type="text" name="p_apartamento" size="15" class="input" maxlength="10" onblur="trataLocal(this)" value="" onkeyup="trataNome(this);">
</td>
<td>
<input type="text" name="p_andar" size="15" class="input" maxlength="10" onblur="trataLocal(this)" value="" onkeyup="trataNome(this);">
</td>
<td>
<input type="text" name="p_bloco" size="15" class="input" maxlength="10" onblur="trataLocal(this)" value="" onkeyup="trataNome(this);">
</td>

<td>
<input type="text" name="p_condominio" size="15" class="input" maxlength="50" onblur="trataLocal(this)" value="" onkeyup="trataNome(this);">
</td>
</tr>
<tr>

<td>
<span class="texto_azul">Torre</span>
</td>
<td>
<span class="texto_azul">Conjunto</span>
</td>
<td>
<span class="texto_azul">Loja</span>
</td>
<td>
<span class="texto_azul">Lote</span>
</td>
<td>
<span class="texto_azul">Quadra</span>
</td>
</tr>

       <tr>
<td>
<input type="text" name="p_torre" size="15" class="input" maxlength="10" onblur="trataLocal(this)" value="" onkeyup="trataNome(this);">
</td>
<td>
<input type="text" name="p_conjunto" size="15" class="input" maxlength="10" onblur="trataLocal(this)" value="" onkeyup="trataNome(this);">
</td>
<td>
<input type="text" name="p_loja" size="15" class="input" maxlength="10" onblur="trataLocal(this)" value="" onkeyup="trataNome(this);">
</td>
<td>
<input type="text" name="p_lote" size="15" class="input" maxlength="10" onblur="trataLocal(this)" value="" onkeyup="trataNome(this);">
</td>
<td>
<input type="text" name="p_quadra" size="15" class="input" maxlength="10" onblur="trataLocal(this)" value="" onkeyup="trataNome(this);">
</td>
<tr>
<td>   <span class="texto_azul">Sala</span></td>

<tr>
<td>
<input type="text" name="p_sala" size="10" class="input" maxlength="10" onblur="trataLocal(this)" value="" onkeyup="trataNome(this);">
</td>
</tr>

         </table>
</td>
</tr>
-->

  <tr>
<td width="25%"><span class="texto_azul"><b>Ponto de referência*:</b></span></td>
<td width="75%">
<input type="text" name="p_referencia" value="<%=user.referencia%>" size="65" class="input" maxlength="100" onblur="trataLocal(this);trataNome(this);" onkeyup="trataNome(this);">
</td>
</tr>
<tr>
<td width="25%"><span class="texto_azul">Nome da empresa</span><span id="msg_empresa" class="texto_azul"></span></td>
<td width="75%">
<input type="text" name="p_empresa" value="<%=user.empresa%>" size="40" class="input" maxlength="100" onblur="trataLocal(this);trataNome(this);" onkeyup="trataNome(this);">
</td>
</tr>
<tr>
<td width="25%"><span class="texto_azul">Data de nasc.:</span></td>
<td width="75%">
<input type="text" name="p_data_nascimento" value="<%=user.nascimento%>" size="20" class="input" maxlength="10" onblur="verifica_data(this)">&nbsp;<span class="texto_azul">(dd/mm/aaaa)</span>
 </td>
</tr>
</table> 


<tr><td height="30">&nbsp;</td>
</tr>
<tr>
<td height=40><span class="texto_azul">E-mail:</span><span class="texto_azul" id="msg_email"></span><!-- e-mail -->
<input type="text" name="p_email" value="<%=user.email%>"  class="input" maxlength="100" size="55" onblur="return valida_email(this.value);"  onkeyup="trataEmail(this);">
</td>
</tr>

<input type="hidden" name="p_fomador_opniao" value=""><span class="texto_azul">
 <tr>
<td colspan="2">
  <input type="checkbox" name="p_promocoes" onclick="marca_email()" value="S" unchecked>
<span class="texto_azul">Sim, desejo receber ofertas e promoções do Restaurante JeitoWeb via e-mail </span>
</td>
</tr>   
</table>
<br>
<table width="79%" border="0" cellspacing="0" cellpadding="0" align="center">

<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<div align="center">
<a href="javascript:pagina_principal(0)">
<img src="/img/btn_cancelar.gif" width="67" height="22" border="0">
</a>
</div>
</td>
<td>
<div align="center">
<input type="image" src="/img/btn_continuar.gif" width="65" height="22" border="0">
</div>
</td>
</tr>
</table>
<input type="hidden" name="p_bairro" value="">
<input type="hidden" name="p_tipo_logradouro" value="">
<input type="hidden" name="p_logradouro" value="" >

<input type="hidden" name="p_id_customer" value="">
<input type="hidden" name="p_chamadora"   value="mc4_altere2_prg">
<input type="hidden" name="p_address_ref" value="">


</form>

<form name="form2">
<input type="hidden" name="p_cep_padron" value="">
<input type="hidden" name="p_tipo_logradouro_padron" value="">
<input type="hidden" name="p_logradouro_padron" value="">
<input type="hidden" name="p_cidade_padron" value="">
<input type="hidden" name="p_numero_inicial" value="0">
<input type="hidden" name="p_numero_final" value="999999">
<input type="hidden" name="p_logr_com_tipo_padron" value="">

</form>

</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>

<!--</div>-->
<!--<div>-->

</div>
</div>