
<!--<script language="JavaScript" type="text/javascript" src="mc4_templates.js_lib"></script>-->

<script language="JavaScript" type="text/javascript" src="mc4_templates.js_mcoferta"></script>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">-->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<meta http-equiv="Pragma" content="cache" />

<title>McOfertas</title>



<style>

/* CSS McOfertas */

*{

margin:0px;

padding:0px;

border:0px;

text-decoration:none;

list-style:none;

}

body{

background:#ed2124 repeat;

}

p{

padding:0 10px;

font:11px verdana;

color:#014094;

margin:10px 0;

}

#conteudo{

float:left;

border-left:1px solid white;

border-top:1px solid white;

margin-left:7px;

_margin-left:5px;

background:#fdf6c4 repeat;

}

h2{

background:#fdea6a;

width:640px;

height:30px;

padding:10px 0 0 17px;

font:bold 14px verdana;

color:#014094;

border-bottom:1px solid white;

border-right:1px solid white;

}

h3{

background:url(img/img_mcofertas.gif) no-repeat;

width:847px;

height:48px;

text-indent:-99999px;

overflow:hidden;

border-bottom:1px solid white;

}

h3 a{

display:block;

width:847px;

height:48px;

}

#mcofertas{

width:640px;

float:left;

}

.oferta{

width:159px;

float:left;

border-right:1px solid white;

border-bottom:1px solid white;

}

#ofertaDesc{

float:right;

width:158px;

float:left;

border-left:1px solid white;

border-right:1px solid white;

border-bottom:1px solid white;

}

h4{

background:url(img/bg_h4.gif) no-repeat;

__width:149px;

width:149px;

height:16px;

font:bold 10px verdana;

color:white;

padding:5px;

border-bottom:1px solid white;

white-space:nowrap;

}

h5{

background:url(img/bg_h4.gif) repeat-x;

width:640px;

height:16px;

font:bold 10px verdana;

color:white;

padding:5px;

border-bottom:1px solid white;

}

.menuTamanho{

padding:5px 0 0 5px;

}

.menuTamanho ul li{

display:inline;

padding:0 1px;

}

.txtOferta{

padding:0 5px;

font:9px verdana;

color:#014094;

margin:2px 0;

}

.qtdOferta{

padding:5px 0 0 5px;

}

.qtdOferta ul li{

display:inline;

float:left;

padding:0 5px 0 0;

font:bold 9px verdana;

color:#014094;

}

.qtdOferta ul li select{

font:bold 9px verdana;

color:#014094;

}

.qtdOferta ul li input{

font:bold 9px verdana;

color:#014094;

border-bottom:1px solid #014094;

border-right:1px solid #014094;

}

.precoOferta{

font:10px verdana;

color:#ed2124;

padding:0 5px;

margin:2px 0;

}

.precoOferta strong{

font:bold 16px verdana;

color:#ed2124;

}

#lateral{

width:191px;

float:left;

}

#dados{

background:#f9d954 repeat;

}

#dados h5{

background:url(img/bg_h5.gif) repeat-x;

width:172px;

height:21px;

font:bold 12px verdana;

color:#022a60;

padding:5px 0 0 19px;

}

.titDesc{

font:bold 10px verdana;

color:white;

background:#e6ae02;

height:15px;

border-top:1px solid white;

border-bottom:1px solid white;

padding:5px;

}

.titDados{

padding:10px;

font:14px verdana;

color:#014094;

}

.txtDados{

padding:5px 10px;

font:10px verdana;

color:#014094;

}

.txtDados a{

font:bold 10px verdana;

color:#014094;

}

.txtDados_esp{

padding:10px 0 15px 10px;

font:10px verdana;

color:#014094;

}

.btnDados{

padding:10px 0 20px 10px;

}

.btnDados ul li{

display:inline;

}

#minha{

background:#eefdc3 repeat;

}

#minha h6{

background:url(img/bg_h6.gif) repeat-x;

width:172px;

height:21px;

font:bold 12px verdana;

color:white;

padding:5px 0 0 19px;

}

#tabBandeja{

padding:10px 10px 10px 10px;

}

#tabBandeja td{

font:10px verdana;

color:#014094;

}

#tabBandeja .titBandeja{

font:bold 10px verdana;

color:#ed2124;

}

#txtDescricao{

float:left;

width:479px;

}

#escDes{

background:#e6ae02;

float:left;

padding:5px;

width:430px;

margin:0 0 10px 0;

}

#escDes ul li{

display:inline;

background:#fdea6a;

padding:5px;

width:130px;

height:25px;

float:left;

font:9px verdana;

margin:0 10px 1px 0;

color:black;

}

.corD{

background:#fff08c;

}

.txtDesc{

padding:10px;

font:10px verdana;

color:black;

}

#tabDesc{

float:left;

margin:10px;

width:450px;

}

.menuTamanho{

padding:5px 0 0 5px;

}

.menuTamanho ul li{

display:inline;

padding:0 1px;

}

.txtOferta{

padding:0 5px;

font:9px verdana;

color:#014094;

margin:2px 0;

}

.qtdOferta{

padding:5px 0 0 5px;

}

.qtdOferta ul li{

display:inline;

float:left;

padding:0 5px 0 0;

font:bold 9px verdana;

color:#014094;

}

.qtdOferta ul li select{

font:bold 9px verdana;

color:#014094;

}

.precoOferta{

font:10px verdana;

color:#ed2124;

padding:0 5px;

}

.precoOferta strong{

font:bold 16px verdana;

color:#ed2124;

}

#rolagem{

padding:115px 0;

}

</style>









</head>



<body>

<div id="conteudo">

	<div id="mcofertas">
	<form name="ofform" method="POST" action="/envofform" target="_top">
	<% Marmita.all(:pers=>false).each do |marm| %>
		<div class="oferta">

		<h4><%= marm.nome %></h4>


			<div class="imgOfertas">

			<img src="<%= marm.img %>" width="159" height="91" />

			</div>
			<div class="menuTamanho">


			</div>
			<div class="txtOferta"><span></span>

			</div>


			<div class="txtOferta"></div>
<% @acomp=marm.princicomp.principal.nome %>
<% marm.componentes.all.each do |comp| %>
	<% @acomp=@acomp+" "+comp.ingrediente.nome %>
	<% if comp!=marm.componentes.all.last %>
		<% @acomp=@acomp+"," %>
	<% end %>
<% end %>
<% logger.info @acomp %>
			<div class="txtOferta"><%= @acomp %></div>
			


			<div class="qtdOferta">

			<ul>




			<li>Qtd.</li>

			<li>

			<input type="text" name="qtd<%= marm.id %>"class="input" value="01" size="2" maxlength="2">

			</li>
			<li><input name="dif" type="image" width="71" height="16" src="img/btn_diferenciado.gif" alt="Diferenciado" value="<%= marm.id %>"/></li>
			</ul>

			</div>

			<div class="precoOferta">&nbsp;&nbsp;R$<strong><%= "%.2f" % marm.preco %></strong></div>

			<div class="txtOferta"><input name="add" type="image" src="img/btn_incluirnabandeja.gif" width="132" height="20" value="<%= marm.id %>" /></div>
		<% if ((Marmita.all.index(marm).to_i+1)%4)==0 %>
			<p>&nbsp;</p>
		<% end %>
		</div>
		
		<% end %>
		
		
	
<input type="hidden" name="P_ID_PAGINA" value="1">

<input type="hidden" name="P_DEPTO" value="C ">

</form>



 </div>



</div>

</body>

</html>
