<% logos=Campanha.all %>
<br class="clearfix">
<br class="clearfix">
<div style="overflow:hidden;">
<div style='float:left; width:58px; height:80px; left:20px; position:relative;'><a href="/oferta">
<img src="<%=logos[2].imgg%>" width="58" height="80" /></a></div>
<div style='float:left; width:452px; height: 80px; left: 340px; position:relative;'><a href="/oferta">
<img src="<%=logos[3].imgg%>" width="452" height="80" /></a></div>
<img src="<%=logos[7].imgg%>" width="80" height="80" style="position:relative; right:30px; float:right;" />
</div>
<!div id="rodape" style="background: url(<%=Campanha.first(:id=>10).imgg%>) repeat-x;">
<div id="rodape" >

<div style='float:left; width:943px; height:25px; position:relative; left:10px; top:55px;'><a href="/oferta">
<!img src="<%=logos[4].imgg%>" width="943" height="25" /></a></div>
<br class="clearfix">
<br class="clearfix">
<br class="clearfix">
<br style="height:25px;">
</div>
</div>
</div>